<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Main_URDF_Assembly.SLDASM">
  <link
    name="Main_Body">
    <inertial>
      <origin
        xyz="4.1633E-17 -0.0029988 2.7756E-17"
        rpy="0 0 0" />
      <mass
        value="0.057186" />
      <inertia
        ixx="1.9175E-05"
        ixy="-2.6741E-21"
        ixz="9.5643E-22"
        iyy="0.00018707"
        iyz="1.8838E-21"
        izz="0.00017055" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/Main_Body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/Main_Body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="FR_HIP">
    <inertial>
      <origin
        xyz="0.027297 9.9028E-05 -0.0024724"
        rpy="0 0 0" />
      <mass
        value="0.046488" />
      <inertia
        ixx="2.1315E-05"
        ixy="-1.0552E-08"
        ixz="3.8093E-07"
        iyy="3.1971E-05"
        iyz="-3.0162E-07"
        izz="4.1794E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/FR_HIP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/FR_HIP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_HIP"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Main_Body" />
    <child
      link="FR_HIP" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="2.2"
      upper="2.2"
      effort="2"
      velocity="7" />
  </joint>
  <link
    name="FR_Top">
    <inertial>
      <origin
        xyz="-0.0529457451215715 -0.0241341439264633 0.0111814790604846"
        rpy="0 0 0" />
      <mass
        value="0.0740252541150162" />
      <inertia
        ixx="3.20509762519378E-05"
        ixy="-4.71564598477209E-05"
        ixz="-2.69328853180503E-06"
        iyy="0.000114638055328103"
        iyz="-1.61338873620631E-06"
        izz="0.000137062242416532" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/FR_Top.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/FR_Top.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_Top"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="FR_HIP" />
    <child
      link="FR_Top" />
    <axis
      xyz="0 -0.032164 0.99948" />
    <limit
      lower="2.2"
      upper="2.2"
      effort="2"
      velocity="7" />
  </joint>
  <link
    name="FR_Bottom">
    <inertial>
      <origin
        xyz="0.0620053234115767 -0.026507130982117 -0.00360428819279719"
        rpy="0 0 0" />
      <mass
        value="0.0341508056276231" />
      <inertia
        ixx="2.3325597146182E-05"
        ixy="3.46032027100664E-05"
        ixz="1.11377833267917E-06"
        iyy="5.9535300564516E-05"
        iyz="-6.97713399055734E-07"
        izz="8.11896547594995E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/FR_Bottom.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/FR_Bottom.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_Bottom_Thigh"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="FR_Top" />
    <child
      link="FR_Bottom" />
    <axis
      xyz="0 -0.032164 0.99948" />
    <limit
      lower="1.5"
      upper="1.5"
      effort="2"
      velocity="7" />
  </joint>
  <link
    name="BR_HIP">
    <inertial>
      <origin
        xyz="-0.0272971344226926 -6.43744326411233E-05 -0.00247351850938268"
        rpy="0 0 0" />
      <mass
        value="0.0464879104531958" />
      <inertia
        ixx="2.13148107016115E-05"
        ixy="-5.21279539731994E-09"
        ixz="-3.81036972302575E-07"
        iyy="3.19641513257592E-05"
        iyz="1.63841135727652E-07"
        izz="4.18009871337319E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/BR_HIP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/BR_HIP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BR_HIP"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Main_Body" />
    <child
      link="BR_HIP" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="2.2"
      upper="2.2"
      effort="2"
      velocity="7" />
  </joint>
  <link
    name="BR_Top">
    <inertial>
      <origin
        xyz="-0.0535832475987538 -0.0637623891667349 0.0310940237172458"
        rpy="0 0 0" />
      <mass
        value="0.0740252542387914" />
      <inertia
        ixx="2.95009377092789E-05"
        ixy="-4.48775816016823E-05"
        ixz="-3.8467851648969E-07"
        iyy="0.00011708307740087"
        iyz="-4.92078088570266E-07"
        izz="0.000137167258933874" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/BR_Top.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/BR_Top.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BR_Top"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="BR_HIP" />
    <child
      link="BR_Top" />
    <axis
      xyz="0 0.018154 0.99984" />
    <limit
      lower="2.2"
      upper="2.2"
      effort="2"
      velocity="7" />
  </joint>
  <link
    name="BR_Bottom">
    <inertial>
      <origin
        xyz="0.039659077515572 -0.141886226132043 -0.0668590888240756"
        rpy="0 0 0" />
      <mass
        value="0.0341508392597745" />
      <inertia
        ixx="2.32857827248317E-05"
        ixy="3.45946431060849E-05"
        ixz="-6.27923521265264E-07"
        iyy="5.95599778377069E-05"
        iyz="3.93009610912852E-07"
        izz="8.12051624185668E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/BR_Bottom.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/BR_Bottom.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BR_Bottom"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="BR_Top" />
    <child
      link="BR_Bottom" />
    <axis
      xyz="0 0.018154 0.99984" />
    <limit
      lower="1.5"
      upper="1.5"
      effort="2"
      velocity="7" />
  </joint>
  <link
    name="BL_HIP">
    <inertial>
      <origin
        xyz="-0.0272971324067885 -3.03826091760384E-05 0.00247418544860611"
        rpy="0 0 0" />
      <mass
        value="0.0464879154207981" />
      <inertia
        ixx="2.13148068885312E-05"
        ixy="-9.38248271676908E-09"
        ixz="3.80956945725374E-07"
        iyy="3.19660417040697E-05"
        iyz="-2.13082405240187E-07"
        izz="4.1799081922151E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/BL_HIP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/BL_HIP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BL_HIP"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Main_Body" />
    <child
      link="BL_HIP" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="2.2"
      upper="2.2"
      effort="2"
      velocity="7" />
  </joint>
  <link
    name="BL_Top">
    <inertial>
      <origin
        xyz="-0.0538817631274549 -0.017230074763659 -0.0139719568930562"
        rpy="0 0 0" />
      <mass
        value="0.0740254302778635" />
      <inertia
        ixx="2.82955650950865E-05"
        ixy="-4.36693102426209E-05"
        ixz="3.30971548792783E-07"
        iyy="0.000118286879983046"
        iyz="4.59901671600148E-07"
        izz="0.000137169072199602" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/BL_Top.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/BL_Top.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BL_Top"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="BL_HIP" />
    <child
      link="BL_Top" />
    <axis
      xyz="0 0.020151 -0.9998" />
    <limit
      lower="2.2"
      upper="2.2"
      effort="2"
      velocity="7" />
  </joint>
  <link
    name="BL_Bottom">
    <inertial>
      <origin
        xyz="0.0800447829179892 -0.0821052650377491 -0.000850156239548039"
        rpy="0 0 0" />
      <mass
        value="0.0341508084326224" />
      <inertia
        ixx="1.93398444789519E-05"
        ixy="3.22192592733286E-05"
        ixz="6.4960868488699E-07"
        iyy="6.35058042234372E-05"
        iyz="-3.56994898748618E-07"
        izz="8.12049242858465E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/BL_Bottom.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/BL_Bottom.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BL_Bottom"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="BL_Top" />
    <child
      link="BL_Bottom" />
    <axis
      xyz="0 0.020151 -0.9998" />
    <limit
      lower="1.5"
      upper="1.5"
      effort="2"
      velocity="7" />
  </joint>
  <link
    name="FL_HIP">
    <inertial>
      <origin
        xyz="0.0272971230162051 0.000201307415678031 0.00246622853721273"
        rpy="0 0 0" />
      <mass
        value="0.0464879336328176" />
      <inertia
        ixx="2.13147967993597E-05"
        ixy="-3.56903918302213E-08"
        ixz="-3.79398557447995E-07"
        iyy="3.2042408129517E-05"
        iyz="8.89094720630563E-07"
        izz="4.17226740403645E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/FL_HIP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/FL_HIP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_HIP"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Main_Body" />
    <child
      link="FL_HIP" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="2.2"
      upper="2.2"
      effort="2"
      velocity="7" />
  </joint>
  <link
    name="FL_Top">
    <inertial>
      <origin
        xyz="-0.0528029556852558 -0.0250478970227489 -0.00975627289799774"
        rpy="0 0 0" />
      <mass
        value="0.0740254301218761" />
      <inertia
        ixx="3.26177184403489E-05"
        ixy="-4.74132698515745E-05"
        ixz="5.42133302778157E-06"
        iyy="0.000114334462753876"
        iyz="2.93917919070546E-06"
        izz="0.000136799335657585" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/FL_Top.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/FL_Top.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_Top"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="FL_HIP" />
    <child
      link="FL_Top" />
    <axis
      xyz="0 -0.089213 -0.99601" />
    <limit
      lower="2.2"
      upper="2.2"
      effort="2"
      velocity="7" />
  </joint>
  <link
    name="FL_Bottom">
    <inertial>
      <origin
        xyz="0.0615153822025629 -0.0273672875275906 0.00521245530100667"
        rpy="0 0 0" />
      <mass
        value="0.0341508035984551" />
      <inertia
        ixx="2.4585832927073E-05"
        ixy="3.5110534189808E-05"
        ixz="-3.14463501935878E-06"
        iyy="5.84353138466984E-05"
        iyz="2.03997890722726E-06"
        izz="8.10294008624711E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/FL_Bottom.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Main_URDF_Assembly.SLDASM/meshes/FL_Bottom.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_Bottom"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="FL_Top" />
    <child
      link="FL_Bottom" />
    <axis
      xyz="0 -0.089213 -0.99601" />
    <limit
      lower="1.5"
      upper="1.5"
      effort="2"
      velocity="7" />
  </joint>
</robot>